/* border: 3px solid white; */

.container {
  max-width: 1250px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333745;
}

header {
  background-color: #00a6fb;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  border: 3px solid white;
}

.exmarks {
  font-family: Karantina;
  font-size: 6rem;
}
